"*":
  "autocomplete-plus": {}
  autosave: {}
  core:
    disabledPackages: [
      "wrap-guide"
      "github"
      "background-tips"
      "status-bar"
      "about"
      "no-title-bar"
    ]
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    themes: [
      "noir"
      "one-dark-syntax"
    ]
  editor:
    fontSize: 19
    invisibles:
      cr: " "
      eol: " "
      space: " "
    lineHeight: 1.33
    scrollPastEnd: true
    showInvisibles: true
    tabLength: 4
  vibrancy:
    vibrancy: "ultra-dark"
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
