"*":
  "autocomplete-plus": {}
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "wrap-guide"
      "github"
      "background-tips"
      "status-bar"
      "about"
      "no-title-bar"
    ]
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    themes: [
      "noir"
      "one-dark-syntax"
    ]
  editor:
    fontSize: 19
    invisibles:
      cr: " "
      eol: " "
      space: " "
    lineHeight: 1.3
    scrollPastEnd: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "1a5642b1-b6eb-4e37-831f-2bddc984a7ae"
  vibrancy:
    vibrancy: "ultra-dark"
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
